@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hideItem {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    transform: translate(50%);
  }
}

@keyframes showItem {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.hide-item {
  color: orange;
  animation: hideItem ease-out 0.5s;
}

.borderred {
  border: 2px solid red;
}
